# Mode (1 = random environment mode (default), 2 = loaded image mode)
mode=2

########### Settings relevant to random environment mode ###########
# Environment dimensions 100 by default
ncols=256
nrows=256
# Number of obstacles 10 by default
nb_of_obstacles=20
# Obstacle dimensions 10 20 10 20 by default
minWidth=10
maxWidth=100
minHeight=10
maxHeight=100
speedValue=5.0
# Seed randomness (updates at 1/sec)
randomSeed=1
# Can fix seed value instead (only if randomSeed=0)
seedValue=-365540679

########### Settings relevant to import image mode ###########
# image full path
# imagePath=/home/ibrahimsquared/projects/RS_marching/images/waffle_filtered.jpeg
imagePath=/home/ibrahim/projects/RS_marching/images/waffle_inflated.jpeg
# imagePath=/home/ibrahim/projects/RS_marching/images/lab_image_edited.png
# imagePath=/home/ibrahim/projects/RS_marching/images/occ.jpg
# imagePath=/home/ibrahimsquared/projects/RS_marching/images/waffle.jpeg


# imagePath=/home/ibrahim/projects/RS_marching/images/noisy_waffle/waffle_noise_rad1_p0.010_seed01.png
# imagePath=/home/ibrahim/projects/RS_marching/images/noisy_waffle/waffle_noise_rad1_p0.010_seed02.png
# imagePath=/home/ibrahim/projects/RS_marching/images/noisy_waffle/waffle_noise_rad1_p0.010_seed03.png
# imagePath=/home/ibrahim/projects/RS_marching/images/noisy_waffle/waffle_noise_rad1_p0.010_seed04.png
# imagePath=/home/ibrahim/projects/RS_marching/images/noisy_waffle/waffle_noise_rad1_p0.010_seed05.png

# imagePath=/home/ibrahim/projects/RS_marching/images/noisy_waffle/waffle_noise_rad2_p0.050_seed01.png
# imagePath=/home/ibrahim/projects/RS_marching/images/noisy_waffle/waffle_noise_rad2_p0.050_seed02.png
# imagePath=/home/ibrahim/projects/RS_marching/images/noisy_waffle/waffle_noise_rad2_p0.050_seed03.png
# imagePath=/home/ibrahim/projects/RS_marching/images/noisy_waffle/waffle_noise_rad2_p0.050_seed04.png
# imagePath=/home/ibrahim/projects/RS_marching/images/noisy_waffle/waffle_noise_rad2_p0.050_seed05.png

########### Solver settings ###########
# initialFrontline={52, 15, -6.86654, 101, 460, 15.6625}
# initialFrontline={170, 495, 90}
# initialFrontline={748, 539, -41.1962, 325, 52, -45.1452}

initialFrontline={200, 100, 0, 190, 500, 0}

# Set A
# initialFrontline={133,734,-90.235,37,211,-212.769}
# Set B
# initialFrontline={189,479,90,481,147,45}

# Dirty testing on occ.jpg
# initialFrontline={377, 365, 211.541, 559, 579, 46.2748}
# initialFrontline={446,728,-135.53,708,526,90.124}
# initialFrontline={182,527,90.78,708,526,90.124}

# Dirty testing on lab_image_edited.jpg
# initialFrontline={740,530,-90,60,140,90}
# initialFrontline={365,600,0,775,80,90}
# initialFrontline={780,50,0,80,50,90}

# Scalability test
# imagePath=/home/ibrahim/projects/RS_marching/maps/base_100x100.png
# initialFrontline={10,10,90,80,80,90}
radius=10

exit_it=5
pose_randomness=0
# 1, GD, 2, bisection method
GD_bisection=1
bumps=0

visibilityThreshold=0.5
# degrees
angleThreshold=5
# compute vstar path
vstar=0
# Compute the vstar path, 1 = vstar, 0 uses VBM and stops upon reaching target. Applies also to astar solver as Dijkstra instead of VBM.
greedy=1
# compute the visibility-based solver implementation path
visibilityBasedSolver=1
# compute MSFM
msfm=0
# setting limited to visibilityBasedSolver
expandInObstacles=0
# compute astar path
astar=1
# compute distance functions
distanceFunction=1
# Target
target_x=450
target_y=450
# Solver timer
timer=1

########### Output settings ###########
# master key, if 0, all are zero too
saveResults=1
saveCameFrom=0
saveGScore=0
saveFScore=0
saveLightSources=0
saveVisibilityField=1
saveSpeedField=0
savePath=0
saveDistanceFunction=0

# Turn to disable displaying loaded settings
silent=0

# save visibility based solver image with contour lines
saveVisibilityBasedSolverImage=1
number_of_contour_lines=50
ballRadius=10 # for aStar and vStar start and end positions

# save distance function image
saveDistanceFunctionImage = 1
