# Mode (1 = random environment mode (default), 2 = loaded image mode)
mode=2

########### Settings relevant to random environment mode ###########
# Environment dimensions 100 by default
ncols=256
nrows=256
# Number of obstacles 10 by default
nb_of_obstacles=20
# Obstacle dimensions 10 20 10 20 by default
minWidth=10
maxWidth=100
minHeight=10
maxHeight=100
speedValue=5.0
# Seed randomness (updates at 1/sec)
randomSeed=1
# Can fix seed value instead (only if randomSeed=0)
seedValue=-365540679

########### Settings relevant to import image mode ###########
########### Solver settings ###########
# Scalability test
imagePath=/home/ibrahim/projects/RS_marching/scaled_maps/map_2000x2000.png
initialFrontline={200,200,90,1600,1600,90}
radius=100

exit_it=5
pose_randomness=0
# 1, GD, 2, bisection method
GD_bisection=1
bumps=0

visibilityThreshold=0.5
# degrees
angleThreshold=5
# compute vstar path
vstar=0
# Compute the vstar path, 1 = vstar, 0 uses VBM and stops upon reaching target. Applies also to astar solver as Dijkstra instead of VBM.
greedy=1
# compute the visibility-based solver implementation path
visibilityBasedSolver=1
# compute MSFM
msfm=0
# setting limited to visibilityBasedSolver
expandInObstacles=0
# compute astar path
astar=1
# compute distance functions
distanceFunction=1
# Target
target_x=450
target_y=450
# Solver timer
timer=1

########### Output settings ###########
# master key, if 0, all are zero too
saveResults=0
saveCameFrom=0
saveGScore=0
saveFScore=0
saveLightSources=0
saveVisibilityField=1
saveSpeedField=0
savePath=0
saveDistanceFunction=0

# Turn to disable displaying loaded settings
silent=0

# save visibility based solver image with contour lines
saveVisibilityBasedSolverImage=0
number_of_contour_lines=50
ballRadius=10 # for aStar and vStar start and end positions

# save distance function image
saveDistanceFunctionImage=0
